<template>
  <section>
    <div class="flex">
      <div class="max-w-xs">
        <label for="wallet" class="block text-sm font-medium text-gray-700"
          >Тикер</label
        >
        <div class="mt-1 relative rounded-md shadow-md">
          <input
            v-model="ticker"
            @keydown.enter="add()"
            type="text"
            name="wallet"
            id="wallet"
            class="
                form-input
                  block
                  w-full
                  pr-10
                  border-gray-300
                  text-gray-900
                  focus:outline-none
                  focus:ring-gray-500
                  focus:border-gray-500
                  sm:text-sm
                  rounded-md
                "
            autocomplete="off"
            placeholder="Например DOGE"
          />
        </div>
        <div
          v-if="showTip"
          class="flex bg-white shadow-md p-1 rounded-md flex-wrap"
        >
          <span
            v-for="coin in coinsForTips.sort().slice(0, 4)"
            :key="coin"
            @click="add(coin)"
            class="
                  inline-flex
                  items-center
                  px-2
                  m-1
                  rounded-md
                  text-xs
                  font-medium
                  bg-gray-300
                  text-gray-800
                  cursor-pointer
                "
          >
            {{ coin }}
          </span>
        </div>
        <div v-if="showTipError" class="text-sm text-red-600">
          Такой тикер уже добавлен
        </div>
      </div>
    </div>
    <add-button @click="add" type="button" :disabled="disabled" class="my-4" />
  </section>
</template>

<script>
import AddButton from "./AddButton.vue";

export default {
  components: {
    AddButton,
  },

  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    tickers: {
      type: Array,
      required: false,
      default: () => [],
    }
  },

  emits: {
    "add-ticker": (value) => typeof value === "string" && value.length > 0,
  },

  data() {
    return {
      ticker: "",
      showTip: false,
      showTipError: false,
      coinsNameList: [],
      coinsForTips: [],
    };
  },
  created() {
    this.showPreloader = false;

    const url =
      "https://min-api.cryptocompare.com/data/all/coinlist?summary=true&api_key=3fb2ae016424cfae9d82f5a5d90cd62f631a6c8b4e68493f8035d70fae655bbf";

    this.getResource(url).then((body) => {
      for (let value of Object.values(body.Data)) {
        this.coinsNameList.push(value.Symbol);
      }
    });
  },
  methods: {
      async getResource(url) {
      let res = await fetch(url);
      if (!res.ok) {
        throw new Error(`Could not fetch ${url}` + `, received ${res.status}`);
      }

      let body = await res.json();

      return body;
    },
    add(coin) {
         if (
        this.tickers.find((t) => t.name === this.ticker.trim()) ||
        this.tickers.find((t) => t.name === coin)
      ) {
        this.showTipError = true;
      } else {
          if (this.ticker.length === 0) {
        return;
      }
        if (coin) this.ticker = coin;
        
      this.$emit("add-ticker", this.ticker);
      this.ticker = "";        
      }
    },
    /*
    add(ticker, coin) {
      if (
        this.tickers.find((t) => t.name === this.ticker.trim()) ||
        this.tickers.find((t) => t.name === coin)
      ) {
        this.showTipError = true;
      } else {
        const currentTicker = {
          name: ticker.trim(),
          price: "-",
        };

        if (coin) currentTicker.name = coin;
        
        this.tickers = [...this.tickers, currentTicker];
        this.ticker = "";
        this.filter = "";

        subscribeToTicker(currentTicker.name, (newPrice) =>
          this.updateTicker(currentTicker.name, newPrice)
        );
      }
    },
*/
  },
  watch: {
    ticker() {
      this.ticker = this.ticker.toUpperCase();
      this.showTipError = false;

      if (this.ticker.length > 1) {
        this.coinsForTips = this.coinsNameList.filter(
          (coin) => coin.indexOf(this.ticker.toUpperCase()) >= 0
        );

        this.coinsForTips.length > 0
          ? (this.showTip = true)
          : (this.showTip = false);
      } else {
        this.coinsForTips = [];
        this.showTip = false;
      }
    },
  },
};
</script>
